<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

	<!--
	Robert McAlpine software
	20220615
		The IPIconfig.txt file replaced with the App.config settings
		Code cleaned
	20220601
		Code tested locally
		Prepared for deployment
	-->
	
  <appSettings>
	  <!--Datalogger file extension search string-->
	  <add key="configFileExtension" value="csv"/>
	  <!--Datalogger files folder-->
	  <add key="configDataloggerFilesFolder" value="C:\_SRM_IPI_Test\13735-GrosvenorPlace\Monitoring_Data\Data\DataloggerFiles"/>
	  <!--T4D files folder-->
	  <add key="configT4DFilesFolder" value="C:\_SRM_IPI_Test\13735-GrosvenorPlace\Monitoring_Data\Data\T4Dfiles"/>
	  <!-- Header column string identifier for columns to be converted -->
	  <add key="configConversionTrigger" value="axis"/>
	  <!--Conversion factor to be applied (Degrees to Radians)-->
	  <add key="configConversionFactor" value="0.01745329"/>
	  <!--No of decimal places for answer-->
	  <add key="configDecimalPlaces" value="8"/>
	  <!--Null data indicator-->
	  <add key="configNullDataString" value="99999"/>
	  <!--Datalogger Reference number, comma seperated (must appear in the name of the data file that is being imported)-->
	  <add key="configDataloggerIDList" value="7497,7983,8467"/>
  </appSettings>
</configuration>